@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

body {
    background-color: #C0C0C0;
    color: white;

}

main{
    font-family: 'MuseoModerno', cursive;

}

/* Header */

.header{
    background: rgb(194, 186, 167);
    padding: 25px 0px 25px 0px;
}

.titulo_pagina{
    color: black;
    font-size: 30px;
    font-family: 'MuseoModerno', cursive;

}

.pesquisa{
    background-color: transparent;
    border-color: black;
    color: white;
    border-radius: 24px;
    padding: 1em;
    width: 30%;
    font-family: 'MuseoModerno', cursive;
}

.pesquisa:hover{
    background-color: black;
    color: white;
    transition: 0.7s;
}

.titulo_pesquisa{
    padding: 5px 500px 10px 30px;
}

.container_header{
    display: flex;
    justify-content: space-around;
    height: 40px;

}

.icone_cabide{
    width: 70px;

}

.botoes{
    font-family: 'MuseoModerno', cursive;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 8px 40px 8px 40px;
    transition: 0.7s;
    text-align: center;
    cursor: pointer;
}

.botoes:hover{
    background-color: black;
    color: white;
    transition: 0.7s;

}

.login{
text-decoration: none;
color: white;
transition: 0.7s;
font-family: 'MuseoModerno', cursive;

}

.login:hover{
    color: black;
}

/* Carrousel */

.imgCarrousel {
    width: 100%;
    height: 100%;

}


/* Produtos em destaque */

.produtos_em_destaque{
color: black;
text-align: center;
font-size: 25px;

}

.organizacao_roupa{
    padding: 200px 0px 0px 150px;
    width: 300px;
    height: 450px;
    text-align: justify;
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
}


.nome_roupa{
    text-align: center;
    font-family: var(--font-titulo-jogos);
}

.imgRoupas{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 3%;
}

/* Rodapé */

hr {
    margin: 0;
    
}

.rodape {
    background: rgb(133,133,133);
    background: linear-gradient(180deg, rgba(133,133,133,1) 0%, rgba(135,135,135,1) 50%);
    padding: 1em;
    font-family: 'MuseoModerno', cursive;
}

.lista-rodape {
    display: none;
}

.direitos_reservados{
    background: rgb(133,133,133);
    background: linear-gradient(180deg, rgba(133,133,133,1) 0%, rgba(135,135,135,1) 50%);
    font-family: 'MuseoModerno', cursive;
    text-align: center;

}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .imgRodape{
        width: 25px;

    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .titulos_rodape{
        font-size: 14px;
        color: black;
        text-decoration: none;

    }

    .rodape__titulo {
        font-size: 24px;

    }

}


@media screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;

    }


}

/* Formulario Contato */


.bodyForm {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
    
}

section h2 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    color: black;
}

form textarea:focus {
    border-radius: 16px;
}


.formularioCenter{
    display: flex;
    justify-content: center;
    font-family: 'MuseoModerno', cursive;
    color: black;
}

.textForm{
    color: black;
}

/* QUEM SOMOS */

.containerQuemSomos{
    display: flex;
    justify-content: space-evenly;

}

.textoQuemSomos{
    background-color: transparent;
    color: black;
    width: 400px;
    height: 400px;
    text-align: justify;
    font-size: 25px;
    
}

.imagemQuemSomos{
width: 350px;
height: 450px;

}


/* Cadastro-login */

.genero{
    border-radius: 3px;
    padding: 7px 15px 7px 15px;

}

.cadastro_login{
    align-items: center;
    display: flex;
    flex-direction: column;

}


.botoes_login_cadastrar{
    font-family: 'MuseoModerno', cursive;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 5px 30px 5px 30px;
    transition: 0.7s;
    text-align: center;
    cursor: pointer;
}


.botoes_login_cadastrar:hover{
    background-color: black;
    color: white;
    transition: 0.7s;

}


